@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; /* Standardized for modern browsers */
}

.clip-hero-shape {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  width: 60%;
  opacity:1.5;
 }

 /* Simple CSS Loader */
.loader {
  border: 4px solid #f3f3f3; /* Light background */
  border-top: 4px solid #6546c1; /* Purple spinner */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.swiper-pagination-bullet {
  background-color: #9333ea !important; /* purple-500 */
}

.swiper-pagination-bullet-active {
  background-color: #7e22ce !important; /* darker purple-500 */
}
